DSD/ApiRest/Connected Services/SRIntegracion/IntegracionService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="IntegracionService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:59580/IntegracionService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:59580/IntegracionService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:59580/IntegracionService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/UPC.BE" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IIntegracionService_ReniectExisteDNI_InputMessage">
    <wsdl:part name="parameters" element="tns:ReniectExisteDNI" />
  </wsdl:message>
  <wsdl:message name="IIntegracionService_ReniectExisteDNI_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReniectExisteDNIResponse" />
  </wsdl:message>
  <wsdl:message name="IIntegracionService_InfocorpHistorial_InputMessage">
    <wsdl:part name="parameters" element="tns:InfocorpHistorial" />
  </wsdl:message>
  <wsdl:message name="IIntegracionService_InfocorpHistorial_OutputMessage">
    <wsdl:part name="parameters" element="tns:InfocorpHistorialResponse" />
  </wsdl:message>
  <wsdl:portType name="IIntegracionService">
    <wsdl:operation name="ReniectExisteDNI">
      <wsdl:input wsaw:Action="http://tempuri.org/IIntegracionService/ReniectExisteDNI" message="tns:IIntegracionService_ReniectExisteDNI_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIntegracionService/ReniectExisteDNIResponse" message="tns:IIntegracionService_ReniectExisteDNI_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InfocorpHistorial">
      <wsdl:input wsaw:Action="http://tempuri.org/IIntegracionService/InfocorpHistorial" message="tns:IIntegracionService_InfocorpHistorial_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIntegracionService/InfocorpHistorialResponse" message="tns:IIntegracionService_InfocorpHistorial_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IIntegracionService" type="tns:IIntegracionService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ReniectExisteDNI">
      <soap:operation soapAction="http://tempuri.org/IIntegracionService/ReniectExisteDNI" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InfocorpHistorial">
      <soap:operation soapAction="http://tempuri.org/IIntegracionService/InfocorpHistorial" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="IntegracionService">
    <wsdl:port name="BasicHttpBinding_IIntegracionService" binding="tns:BasicHttpBinding_IIntegracionService">
      <soap:address location="http://localhost:59580/IntegracionService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>