DSD/ApiRest/Connected Services/SRIntegracion/IntegracionService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:59580/IntegracionService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/UPC.BE" />
  <xs:element name="ReniectExisteDNI">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dni" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReniectExisteDNIResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReniectExisteDNIResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InfocorpHistorial">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dni" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InfocorpHistorialResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/UPC.BE" minOccurs="0" name="InfocorpHistorialResult" nillable="true" type="q1:InfocorpData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>