DSD/ApiRest/Connected Services/SRIntegracion/IntegracionService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/UPC.BE" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/UPC.BE" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="InfocorpData">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreditosActuales" type="xs:int" />
      <xs:element minOccurs="0" name="CreditosPasados" type="xs:int" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InfocorpData" nillable="true" type="tns:InfocorpData" />
</xs:schema>